In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data2020/survey_results_public.csv')
schema_df = pd.read_csv('data2020/survey_results_schema.csv')

In [3]:
people = {"first" : ["first1", "first2", "first3"], "last" : ["last1", "last2", "last3"], "email" : ["email1", "email2", "email3"]}

In [4]:
people['email']

['email1', 'email2', 'email3']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

    first   last   email
0  first1  last1  email1
1  first2  last2  email2
2  first3  last3  email3

In [8]:
df['email']

0    email1
1    email2
2    email3
Name: email, dtype: object

Jupyter notebook executes the HTML, CSS and Javascript in Markdown mode

<h1>Provides same result as above</h1>

<!DOCTYPE html>
<html>
<body>

<h2>My First JavaScript</h2>

<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>

<p id="demo"></p>

</body>
</html>

In [10]:
df.email

0    email1
1    email2
2    email3
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

In [14]:
df[['last', 'email']]

    last   email
0  last1  email1
1  last2  email2
2  last3  email3

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
df.iloc[0]

first    first1
last      last1
email    email1
Name: 0, dtype: object

In [18]:
df.iloc[[0, 1]]

    first   last   email
0  first1  last1  email1
1  first2  last2  email2

In [19]:
df.iloc[[0, 1], 2]

0    email1
1    email2
Name: email, dtype: object

In [20]:
df

    first   last   email
0  first1  last1  email1
1  first2  last2  email2
2  first3  last3  email3

In [21]:
df.loc[0]

first    first1
last      last1
email    email1
Name: 0, dtype: object

In [22]:
df.loc[[0, 1]]

    first   last   email
0  first1  last1  email1
1  first2  last2  email2

In [23]:
df.loc[[0, 1], 'email']

0    email1
1    email2
Name: email, dtype: object

In [24]:
df.loc[[0, 1], ['email', 'last']]

    email   last
0  email1  last1
1  email2  last2

In [25]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [26]:
df = pd.read_csv('data2020/survey_results_public.csv')

In [27]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3        Yes
4        Yes
        ...
64456    Yes
64457    Yes
64458    Yes
64459    Yes
64460    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [29]:
df['Hobbyist'].value_counts()

Hobbyist
Yes    50388
No     14028
Name: count, dtype: int64

In [30]:
df.loc(0)

In [32]:
df.loc[0, 'Hobbyist']

'Yes'

In [33]:
df.loc[[0, 1, 2], 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [34]:
df.loc[0:2, 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [35]:
df.loc[0:2, 'Hobbyist':'Employment']

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment
0,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em..."
1,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time
2,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN