In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data2020/survey_results_public.csv')
schema_df = pd.read_csv('data2020/survey_results_schema.csv')

In [7]:
people = {"first" : ["first1", "first2", "first3"], "last" : ["last1", "last2", "last3"], "email" : ["email1", "email2", "email3"]}
df = pd.DataFrame(people)
df

    first   last   email
0  first1  last1  email1
1  first2  last2  email2
2  first3  last3  email3

In [8]:
df['email']

0    email1
1    email2
2    email3
Name: email, dtype: object

In [9]:
df.set_index('email')

         first   last
email
email1  first1  last1
email2  first2  last2
email3  first3  last3

In [10]:
df

    first   last   email
0  first1  last1  email1
1  first2  last2  email2
2  first3  last3  email3

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
df.set_index('email', inplace = True)

In [13]:
df

         first   last
email
email1  first1  last1
email2  first2  last2
email3  first3  last3

In [14]:
df.index

Index(['email1', 'email2', 'email3'], dtype='object', name='email')

In [15]:
df.loc['email1']

first    first1
last      last1
Name: email1, dtype: object

In [16]:
df.loc['email1', 'last']

'last1'

In [18]:
#df.loc[0] #gets Error

In [19]:
df.iloc[0]

first    first1
last      last1
Name: email1, dtype: object

In [20]:
df.reset_index(inplace = True)

In [21]:
df

    email   first   last
0  email1  first1  last1
1  email2  first2  last2
2  email3  first3  last3

In [23]:
df = pd.read_csv('data2020/survey_results_public.csv', index_col = 'Respondent')

In [24]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [25]:
df.loc[1]

MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     13
CompFreq                                                                  Monthly
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Germany
CurrencyDesc                                                        European Euro
CurrencySymbol                                                                EUR
DatabaseDesireNextYear                                       Microsoft SQL Server
DatabaseWorkedWith                      Elasticsearch;Microsoft SQL Server;Oracle
DevType                         Developer, desktop or enterprise applications;...
EdLevel                           Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                         Slightly satisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                     C#;HTML/CSS;JavaScript
LanguageWorkedWith                                         C#;HTML/CSS;JavaScript
MiscTechDesireNextYear                                          .NET Core;Xamarin
MiscTechWorkedWith                                                 .NET;.NET Core
NEWCollabToolsDesireNextYear               Microsoft Teams;Microsoft Azure;Trello
NEWCollabToolsWorkedWith             Confluence;Jira;Slack;Microsoft Azure;Trello
NEWDevOps                                                                      No
NEWDevOpsImpt                                                  Somewhat important
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch             Start a free trial;Ask developers I know/work ...
NEWPurpleLink                                                              Amused
NEWSOSites                       Stack Overflow (public Q&A for anyone who codes)
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                     Windows
OrgSize                                                          2 to 9 employees
PlatformDesireNextYear             Android;iOS;Kubernetes;Microsoft Azure;Windows
PlatformWorkedWith                                                        Windows
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not at all
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                               ASP.NET Core
WebframeWorkedWith                                           ASP.NET;ASP.NET Core
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                  50.0
YearsCode                                                                      36
YearsCodePro                                                                   27
Name: 1, dtype: object

In [26]:
schema_df

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [29]:
schema_df = pd.read_csv('data2020/survey_results_schema.csv', index_col = 'Column')

In [30]:
schema_df

                                                         QuestionText
Column
Respondent          Randomized respondent ID number (not in order ...
MainBranch          Which of the following options best describes ...
Hobbyist                                      Do you code as a hobby?
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

In [31]:
schema_df.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [35]:
schema_df.loc['YearsCodePro']

QuestionText    NOT including education, how many years have y...
Name: YearsCodePro, dtype: object

In [36]:
schema_df.loc['YearsCodePro', 'QuestionText']

'NOT including education, how many years have you coded professionally (as a part of your work)?'

In [37]:
schema_df.sort_index(ascending = False)

                                                         QuestionText
Column
YearsCodePro        NOT including education, how many years have y...
YearsCode           Including any education, how many years have y...
WorkWeekHrs         On average, how many hours per week do you wor...
WelcomeChange       Compared to last year, how welcome do you feel...
WebframeWorkedWith  Which web frameworks have you done extensive d...
...                                                               ...
ConvertedComp       Salary converted to annual USD salaries using ...
CompTotal           What is your current total compensation (salar...
CompFreq             Is that compensation weekly, monthly, or yearly?
Age1stCode          At what age did you write your first line of c...
Age                 What is your age (in years)? If you prefer not...

[61 rows x 1 columns]

In [38]:
schema_df.sort_index(inplace = True)

In [39]:
schema_df

                                                         QuestionText
Column
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
CompFreq             Is that compensation weekly, monthly, or yearly?
CompTotal           What is your current total compensation (salar...
ConvertedComp       Salary converted to annual USD salaries using ...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]